.hide {
    display: none
}

.border-5 {
    border-radius: 5px;
}

.border-8 {
    border-radius: 8px;
}

.border-10 {
    border-radius: 10px;
}

.content-page .header {
    background-color: #e7e7e7;
    color: #017185;
    padding: 10px 15px;
}

.content-padding {
    padding: 0px 15px;
}

.content-padding-and-top {
    margin-top: 15px;
    padding: 0px 15px;
}