@charset "UTF-8";

@font-face {
    font-family: "myinfo";
    src:url("../fonts/myinfo.eot");
    src:url("../fonts/myinfo.eot?#iefix") format("embedded-opentype"),
    url("../fonts/myinfo.woff") format("woff"),
    url("../fonts/myinfo.ttf") format("truetype"),
    url("../fonts/myinfo.svg#myinfo") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "myinfo" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "myinfo" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-area-code:before {
    content: "\61";
}
.icon-arrow-left-down:before {
    content: "\62";
}
.icon-arrow-right-up:before {
    content: "\63";
}
.icon-auction:before {
    content: "\64";
}
.icon-back:before {
    content: "\65";
}
.icon-book-open:before {
    content: "\66";
}
.icon-briefcase:before {
    content: "\67";
}
.icon-business:before {
    content: "\68";
}
.icon-calendar:before {
    content: "\69";
}
.icon-calendar-check:before {
    content: "\6a";
}
.icon-camera:before {
    content: "\6b";
}
.icon-camera-detail:before {
    content: "\6c";
}
.icon-car:before {
    content: "\6d";
}
.icon-cellphone:before {
    content: "\6e";
}
.icon-check:before {
    content: "\6f";
}
.icon-compass:before {
    content: "\70";
}
.icon-cross:before {
    content: "\71";
}
.icon-document:before {
    content: "\72";
}
.icon-download-cloud:before {
    content: "\73";
}
.icon-edit:before {
    content: "\74";
}
.icon-facebook:before {
    content: "\75";
}
.icon-facebook-solid:before {
    content: "\76";
}
.icon-female:before {
    content: "\77";
}
.icon-flag:before {
    content: "\78";
}
.icon-forward:before {
    content: "\79";
}
.icon-gear:before {
    content: "\7a";
}
.icon-gift:before {
    content: "\41";
}
.icon-heart:before {
    content: "\42";
}
.icon-house:before {
    content: "\43";
}
.icon-left:before {
    content: "\44";
}
.icon-link:before {
    content: "\45";
}
.icon-load-left:before {
    content: "\46";
}
.icon-load-right:before {
    content: "\47";
}
.icon-location:before {
    content: "\48";
}
.icon-lock-closed:before {
    content: "\49";
}
.icon-lock-open:before {
    content: "\4a";
}
.icon-log-out:before {
    content: "\4b";
}
.icon-mail-closed:before {
    content: "\4c";
}
.icon-male:before {
    content: "\4d";
}
.icon-menu-dot:before {
    content: "\4e";
}
.icon-menu-line:before {
    content: "\4f";
}
.icon-money-folded:before {
    content: "\50";
}
.icon-music:before {
    content: "\51";
}
.icon-newspaper:before {
    content: "\52";
}
.icon-nja:before {
    content: "\53";
}
.icon-passport:before {
    content: "\54";
}
.icon-pause:before {
    content: "\55";
}
.icon-picture:before {
    content: "\56";
}
.icon-play:before {
    content: "\57";
}
.icon-plus:before {
    content: "\58";
}
.icon-pointer:before {
    content: "\59";
}
.icon-random:before {
    content: "\5a";
}
.icon-restaurant:before {
    content: "\30";
}
.icon-rewind:before {
    content: "\31";
}
.icon-right:before {
    content: "\32";
}
.icon-scan:before {
    content: "\33";
}
.icon-search:before {
    content: "\34";
}
.icon-share:before {
    content: "\35";
}
.icon-shopping-trolley:before {
    content: "\36";
}
.icon-speech:before {
    content: "\37";
}
.icon-star-empty:before {
    content: "\38";
}
.icon-star-full:before {
    content: "\39";
}
.icon-star-half:before {
    content: "\21";
}
.icon-star-quater:before {
    content: "\22";
}
.icon-star-3-quartar:before {
    content: "\23";
}
.icon-tag:before {
    content: "\24";
}
.icon-tellephone:before {
    content: "\25";
}
.icon-thumbs-down:before {
    content: "\26";
}
.icon-thumbs-up:before {
    content: "\27";
}
.icon-time:before {
    content: "\28";
}
.icon-twitter:before {
    content: "\29";
}
.icon-twitter-solid:before {
    content: "\2a";
}
.icon-upload-cloud:before {
    content: "\2b";
}
.icon-user:before {
    content: "\2c";
}
.icon-user-circle:before {
    content: "\2d";
}
.icon-user-cross:before {
    content: "\2e";
}
.icon-user-multiple:before {
    content: "\2f";
}
.icon-user-plus:before {
    content: "\3a";
}
.icon-user-two:before {
    content: "\3b";
}
.icon-video:before {
    content: "\3c";
}
.icon-wallet:before {
    content: "\3d";
}
.icon-watsapp:before {
    content: "\3e";
}
.icon-winner-cup:before {
    content: "\3f";
}
.icon-youtube:before {
    content: "\40";
}
.icon-youtube-solid:before {
    content: "\5b";
}
.icon-readmore:before {
    content: "\5d";
}
