#notification {
    position: fixed;
    top: 30%;
    left: 50%;
    display: block;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
}

.notify-small {
    margin: 0;
    left: -60%;
    width: 120%;
    /*color: #fff;*/
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 0px;
    text-align: center;
    position: relative;
    font-weight: bold;
    box-shadow: 0 3px 3px rgba(0,0,0,.5);
    ;
}

.notify-small.alert-error {
    border: 1px solid #860017;
}

.notify-small.alert-success {
    border: 1px solid #206706;
}

.notify-small.alert-info {
    border: 1px solid #0372b4;
}

/*
|------------------------------------------
| ALERTS
|------------------------------------------
*/
.alert {
    color: #fff;
    margin: 5px 0;
    display: none;
    font-size: 100%;
    border-radius: 8px;
    padding: 10px 5% 10px 5% !important;
}

.alert i {
    margin-right: 5px;
}

.alert-error {
    color: #FFFFFF;
    background: #d91d52;
}

.alert-error i {
    color: #e5859d
}

.alert-success {
    color: #FFFFFF;
    background-color: #009900
}

.alert-success i {
    color: #0372b4
}

.alert-info {
    color: #FFFFFF;
    background-color: #00c0ef !important;
}

.well {
    border: none;
    border-radius: 0px;
    padding: 15px 15px;
}

.well-gray {
    background-color: #e7e7e7;
    color: #017185;
}

.well-small {
    padding: 5px 15px;
}

.well .text-next-button {
    margin-top: 8px;
}


/*
|------------------------------------------
| BADGES
|------------------------------------------
*/
.btn .badge-icon {
    left: -6px;
    font-size: 55%;
    padding: 3px 5px;
}