/*
|------------------------------------------
| ARTICLES
|------------------------------------------
*/
.article-list-box {
    max-width: 700px;
    margin: auto;
}

.article-list-box .article {
    position: relative;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.article-list-box .article:nth-child(1) {
    border-top: none;
}

.article-list-box .article .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.article-list-box .article .content .publication-logo {
    padding: 10px;
}

.article-list-box .article .content .content-inner {
    position: absolute;
    padding: 15px;
    width: 100%;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 9%, rgba(0,0,0,0.55) 26%, rgba(0,0,0,0.55) 39%, rgba(0,0,0,0.55) 56%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 9%,rgba(0,0,0,0.55) 26%,rgba(0,0,0,0.55) 39%,rgba(0,0,0,0.55) 56%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 9%,rgba(0,0,0,0.55) 26%,rgba(0,0,0,0.55) 39%,rgba(0,0,0,0.55) 56%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#8c000000',GradientType=0 ); /* IE6-9 */
}

.article .div-image {
    min-height: 300px;
    background-position: center top;
    background-size: cover;
}

.article.small .div-image {
    min-height: 140px;
    background-position: center top;
    background-size: cover;
}

.article-show .div-image {
    min-height: 350px;
    background-position: center top;
    background-size: cover;
}

.article-list-box .article .content-inner .date {
    font-size: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.article-list-box .article .content .content-inner .heading-ellipse {
    height: 48px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.article-list-box .article .content .content-inner .brand {
    font-weight: bold;
}

.article-list-box .article .brand-box {
    margin-bottom: 10px;
}

.article-list-box .article .readmore.btn {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

/*
|------------------------------------------
| ARTICLES - TUMHB / SMALL
|------------------------------------------
*/

.article-row {
    display: flex;
}

.article-row .col-6 {
    flex: 1;
}

.article-list-box .article.small {
    padding-bottom: 12px;
    border-bottom: none;
}

.article-list-box .col-6:nth-child(1) {
    border-right: 1px solid #ffffff;
}

.article-list-box .article.small .content-image {
    position: relative;
}

.article-list-box .article.small .content {
    height: auto;
}

.article-list-box .article.small .content-bottom {
    padding: 0px 15px;
    width: 100%;
    bottom: 0;
}

.article-list-box .article.small .content-image .content-inner {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 15px 5px 15px;

    background: -moz-linear-gradient(top, rgba(0,0,0,0) 9%, rgba(0,0,0,0.55) 26%, rgba(0,0,0,0.55) 39%, rgba(0,0,0,0.55) 56%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 9%,rgba(0,0,0,0.55) 26%,rgba(0,0,0,0.55) 39%,rgba(0,0,0,0.55) 56%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 9%,rgba(0,0,0,0.55) 26%,rgba(0,0,0,0.55) 39%,rgba(0,0,0,0.55) 56%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#8c000000',GradientType=0 ); /* IE6-9 */
}

.article-list-box .article.small .content-bottom .heading-ellipse {
    height: 40px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #222222;
}

.article-list-box .article.small .img-responsive {
    height: 130px;
    width: 100%;
}

.article-list-box .article.small .readmore i {
    color: #006477;
}

/*
|------------------------------------------
| ARTICLES SHOW
|------------------------------------------
*/
#page-show-article section:first-child {
    margin-bottom: 80px !important;
}

.article-show {
    position: relative;
}

.publication-logo img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.article-show .publication-logo {
    position: absolute;
    top: 15px;
    left: 15px;
}

.article-show .content-bottom {
    padding: 5px 15px;
}

.article-show .content-bottom .date {
    font-size: 90%;
}

.article-show .heading {
    margin: 10px 0px;
}

.article-show .brand-box {
    margin-bottom: 10px;
}