/*
|------------------------------------------
| LANDING PAGE
|------------------------------------------
*/
#page-landing .landing-logo {
    width: 60%;
    max-width: 200px;
    text-align: center;
    margin: 60px auto 50px auto;
}

#page-landing .landing-logo img {
    width: 100%;
}

/*
|------------------------------------------
| AUTH
|------------------------------------------
*/

.et-page.auth-page {
    /*padding-top: 30px;*/
}

.auth-page .page-header {
    padding-top: 30px;
}

.auth-page .page-header .logo {
    width: 70px;
    margin: auto;
    text-align: center;
}

.auth-page .page-header img {
    width: 100%;
}

.auth-page .page-header h1 {
    color: #FFFFFF;
    font-size: 21px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto-Bold', 'Roboto-Regular', sans-serif;
}

.auth-page .page-header .subtitle {
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 15px;
}

.auth-heading {
    margin-bottom: 15px
}

.auth-heading .logo {
    width: 50%;
    padding-bottom: 15px;
    margin: auto;
    display: block;
}

.auth-heading > div {
    margin: auto
}

.auth-heading > p {
    text-align: center
}