/*
|------------------------------------------
| BUTTONS
|------------------------------------------
*/

.a-btn {
    resize: none;
    font-size: 14px;
    color: #000;
    text-align: center;
}

.btn, [class*="btn-"] {
    width: auto;
    padding: 10px;
    margin: 0;
    /*font-size: 90%;*/
    /*line-height: 17px;*/
    display: inline-block;
    border: none;
    background: none;
    font-family: "Font-Regular", sans-serif;
}

.btn-primary {
    color: #ffffff;
    background: #147392;
}

.btn-secondary {
    color: #ffffff;
    background: #00809d;
}

.btn-black {
    color: #ffffff;
    background: #231f20;
}

.btn-gray {
    background: #888a8d;
    color: #111;
}

.btn-gray-light {
    background: #c6c8c9;
    color: #333;
}

.btn-white {
    width: 100%;
    background: #FFF;
    color: #147392;
}

.btn-default {
    padding: 5px;
    color: #ffffff;
    background: transparent;
    border: 1px solid #ffffff;
}

.btn-default-gray {
    padding: 5px;
    color: #7c7e83;
    background: transparent;
    border: 1px solid #7c7e83;
}

.btn-bold {
    font-family: 'Roboto-Bold', 'Roboto-Regular', sans-serif !important;
}

.btn-large {
    padding: 15px;
    font-size: 115%;
    /*font-family: 'Roboto-Bold', 'Roboto-Regular';*/
}

.btn-small-header {
    padding: 1px 5px;
}

.btn-small {
    padding: 5px;
    font-size: 90%;
}

.btn-gender {
    padding: 5px;
    font-size: 90%;
    color: #888a8d;
    border: 1px solid #888a8d;
}

.btn-gender.active {
    background-color: #c6c8c9;
}
