#app-colors-reference {
    color: #231f20; /* black */
    color: #007184; /* primary - old */
    color: #147392; /* primary - updated logo */
    color: #00809c; /* secondary */
    color: #006477; /* action */
    color: #888a8d; /* gray */
    color: #c6c8c9; /* gray-light */
}

/*
|------------------------------------------
| HTML ELEMENT TAGS
|------------------------------------------
*/
* {
    /*-webkit-appearance: none;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, h1, h2, h3, h4, h5, h6, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td, input, figure {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
    font-family: 'Roboto-Medium', sans-serif;
}

a {
    color: #147392;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

a:link, a:visited {
    color: #00809c;
    cursor: pointer;
}

body, html {
    width: 100%;
    height: 100%;
    /*overflow-x: hidden;*/
}

body {
    color: #222;
    font-size: 14px;
    background-color: #ffffff;
    font-family: 'Roboto-Light', 'Roboto-Regular', sans-serif;
    -webkit-overflow-scrolling: touch;
}

img {
    border: none
}

ul, ol {
    padding: 0 0 0 35px;
    margin: 0;
    text-align: left
}

input, select, textarea, button {
    font-family: 'Font-Regular', sans-serif;
    resize: none;
    font-size: 14px;
}

hr {
    width: 100%;
    height: 20px;
    box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.2);
    margin: 15px 0 0 0;
    border: none;
    background: none
}

a, input, button {
    transition: all 0.2s ease;
    cursor: pointer;
    outline: none
}

strong {
    font-family: 'Roboto-Bold';
    font-weight: normal
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px #0e3087;
}

body::-webkit-scrollbar-thumb {
    background-color: #0372b4;
}

h1.heading {
    line-height: 25px;
    font-size: 24px;
    font-weight: bold;
}

h2.heading {
    line-height: 19px;
    font-size: 18px;
    font-weight: bold;
}

.header {
    font-family: 'Roboto-Bold', sans-serif;
}

.heading {
    font-family: 'Roboto-Bold', sans-serif;
}

.text-wrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.border-none {
    border: none !important;
}

.img-responsive {
    width: 100%;
}

.fullwidth {
    width: 100% !important;
}

.clearboth {
    clear: both;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    pointer-events: none;
}

/*
.checkbox {
    width: 20px;
    height: 20px;
    background-image: url('../../images/checkbox.png');
}
.checkbox.checked {
    background-image: url('../../images/checkbox_selected.png');
}*/

/*
|------------------------------------------
| WRAPPER and PAGES
|------------------------------------------
*/
#wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

#wrapper .et-page.authenticated {
    padding: 70px 0px;
    margin-bottom: 50px;
}

#wrapper .et-page.authenticated.apple {
    padding: 90px 0px !important;
    margin-bottom: 50px;
}

#wrapper .et-page.auth-page {
    /*padding: 40px 15px;*/
}

#wrapper .et-page .content-section {
    padding-bottom: 60px;
    margin-bottom: 60px;
}

#wrapper .et-page.content-padding {
    padding: 15px 15px;
}

/*
|------------------------------------------
| LOGGER
|------------------------------------------
*/
#logger {
    display: none;
    top: 0;
    width: 100%;
    z-index: 9999;
    position: fixed;
    max-height: 18%;
    overflow-x: auto;
    background-color: rgba(10, 10, 10, 0.5);
}

#logger button {
    top: 0;
    right: 4px;
    padding: 2px;
    position: absolute;
}

#logger .list {
    color: #eee;
}

.col-6 {
    display: inline-block;
    width: 50%;
    float: left;
}

.col-6-left {
    display: inline-block;
    width: 48%;
    float: left;
}

.col-6-right {
    display: inline-block;
    width: 48%;
    float: right;
}