#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 901;
    color: #ffffff;
    background-color: #147392;
    /*border-top: 1px solid #006477;*/
    height: 45px;
    /*padding-top: 10px;*/
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

#footer .footer-inner {
    position: relative;
    display: block;
    width: 100%;
    display: block;
    min-height: 45px;
    margin-top: 10px;
}

#footer .footer-box {
    width: 100%;
    min-height: 35px;
    position: absolute;
    z-index: 905;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

#footer .footer-box.active {
    bottom: 0px;
}

#footer .footer-box.moveBottom {
    bottom: -100px;
}

#footer .footer-box .inner-content {
    height: 45px;
}

/* default */
#footer-default {
    height: 55px;
    border-top: 3px solid #006477;
}

#footer-default .inner-content .action {
    width: 20%;
    float: left;
    padding-top: 0px;
    text-align: center;
    display: inline-block;
}

#footer-default .inner-content i {
    font-size: 200%;
}

#footer-default .inner-content .user-avatar {
    float: right;
    margin-top: 12px;
    margin-right: 13px;
}

#footer-default .footer-logo img {
    height: 40px;
    width: auto;
    text-align: center;
}

#vouchers-badge {
    display: inline-block;
    position: absolute;
    top: 19px;
    right: -5px;
}

/* edit */
#footer-edit {
    border-top: 3px solid #006477;
}

#footer-edit .inner-content {
    margin: 5px 15px;
    padding-top: 5px;
}

#footer-edit [class*="btn-"] {
    font-size: 70%;
    line-height: 130%;
}

#footer-edit .inner-content .pull-right .pull-left {
    margin-right: 20px;
}

/* article */
#footer-article {
    border-top: 2px solid #c6c8c9;
}

#footer-article .inner-content {
    height: 55px !important;
    color: #888a8d;
    /*padding: 0px 15px 0px;*/
    background-color: #FFFFFF;
}

#footer-article .inner-content .pull-right .pull-left {
    /*margin-right: 20px;*/
}

#footer-article .inner-content i {
    font-size: 100%;
}

#footer-article .information-row {
    font-size: 90%;
}

#footer-article a {
    color: #888a8d;
}

#footer-back {
    border-top: 3px solid #006477;
}

#footer-back .back-link {
    padding-top: 7px;
    font-size: 150%;
    line-height: 140%;
}

#footer.open {
    bottom: 0px;
}

#footer.close {
    bottom: -100px;
}

#footer .btn-default-gray {
    padding: 4px !important;
    margin-right: 5px;
}
