.forms.inner-padding {
    padding: 15px;
}

.forms > div {
    text-align: center;
    display: block;
}

.forms i.fa, button i.fa {
    margin-right: 5px
}

.forms > div {
    padding: 5px 0;
}

.forms input, .forms textarea {
    width: 100%;
    line-height: 20px;
    margin: 0 -1px;
    padding: 9px 5%;
    display: inline-block;
    background: rgba(136, 138, 141, 0.2);
    border: 1px solid #888a8d;
    color: #111;
}

.input-box-gray {
    position: relative;
    border-bottom: 1px solid #888a8d;
    margin-bottom: 10px;
}

.input-box-gray i {
    color: #147392;
    padding: 10px 0px;
    position: absolute;
    pointer-events: none;
}

/* align icon */
.input-box-gray.left-addon .glyphicon {
    left: 0px;
}

.input-box-gray.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.input-box-gray.left-addon input {
    padding-left: 30px;
}

.input-box-gray.right-addon input {
    padding-right: 30px;
}

.input-box-gray input {
    color: #888a8d;
    border: none;
    padding-bottom: 0;
    background: rgba(0, 0, 0, 0);
}

.select-style:after {
    font-family: 'myinfo' !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.select-style {
    width: 100%;
    line-height: 30px;
    display: inline-block; /*overflow:hidden;*/
    position: relative;
}

.select-style:after {
    width: 30px;
    height: 30px;
    content: '\32';
    color: #888a8d;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    transform: rotate(90deg);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    pointer-events: none;
}

.select-style select {
    width: 100%;
    height: 30px;
    padding: 0 0px 0 10px;
    color: #888a8d;
    position: relative;
    background-color: #FFFFFF;
    z-index: 1;
    border: 1px solid #888a8d;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style select:focus {
    outline: none;
}

.select-style option {
    line-height: 20px;
    padding: 10px;
    background: transparent
}