#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    color: #ffffff;
    height: 70px;
    background-color: #147392;
    border-bottom: 3px solid #006477;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

#header.apple {
    height: 90px !important;
    padding-top: 20px !important;
}

#header a, #footer a {
    color: #ffffff;
}

#header-top {
    padding-top: 5px;
    height: 30px;
}

#header #header-top div {
    text-align: center;
    display: inline-block;
}

#header-top .logo {
    float: left;
    width: 25%;
    padding: 6px 10px;
    text-align: left !important;
}

#header-top .logo div {
    text-align: center;
    margin: auto;
}

#header-top .logo img {
    max-width: 100%;
    max-height: 27px;
}

#header .search {
    width: 60%;
    float: left;
    position: relative;
}

#header .search i {
    position: absolute;
    top: 5px;
    right: 5px;
}

#header #hamburger {
    width: 14%;
    float: left;
    height: 30px;
    overflow: hidden;
}

#header #hamburger .btn-small {
    padding: 0 !important;
}

#header #hamburger i {
    font-size: 200%;
}

#header-search {
    width: 100%;
    background-color: #006477;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    border: none;
}

#header-search::-webkit-input-placeholder {
    color: #DCDEDE;
}

#header-search:-moz-placeholder { /* Firefox 18- */
    color: #DCDEDE;
}

#header-search::-moz-placeholder { /* Firefox 19+ */
    color: #DCDEDE;
}

#header-search:-ms-input-placeholder {
    color: #DCDEDE;
}

#header #menubar {
    margin-top: 15px;
    width: 100%;
    display: block;
    font-size: 80%;
    text-align: center;
    position: relative;

    height: 27px;
    overflow: hidden;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

#menubar .menu-box {
    position: absolute;
    width: 100%;
    height: 25px;
}

#menubar .menu-box.moveTop {
    top: -30px;
}

#menubar .menu-box.active {
    top: 0px;
}

#menubar .menu-box.moveBottom {
    top: 30px;
}

#menubar .menu-box.fadeIn {
    display: block;
}

#menubar .menu-box.fadeOut {
    display: none;
}

#menubar .menu-box div {
    height: 25px;
}

#menubar .menu-box .selected {
    /*font-size: 120%;*/
    border-bottom: 3px solid #FFFFFF;
}

#menubar #menu-no-user div {
    width: 30%;
    margin: auto;
}

#header #menubar .menu-box {
    /*padding-bottom: 5px;*/
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

#header #menubar .slick-slide {
    padding-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 3px solid #006477;
}

#header #menubar .slick-slide.slick-center {
    border-bottom: 3px solid #ffffff;
}

#header.open {
    top: 0px;
}

#header.close {
    top: -100px;
}

#header.scrolled {
    top: -40px;
}

#header.apple.scrolled {
    top: -60px;
}

#header.apple.scrolled {
    height: 110px !important;
    padding-top: 20px !important;
}

#header.apple.scrolled #menubar {
    margin-top: 35px;
}

#header #menubar .slick-center a {
    font-size: 130%;
    font-weight: bold;
    font-family: 'Roboto-Bold';
}

#menu-page div.menu {
    width: 27%;
    float: left;
    display: inline-block;
}

#menu-page div.menu.selected,#menu-page div.menu.slick-center {
    width: 45%;
    float: left;
    display: inline-block;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#menubar .menu a {
    font-size: 110%;
}