/*
|------------------------------------------
| INTERESTS
|------------------------------------------
*/
.media {
    margin: 0px;
}

.interest-page .header {
    background-color: #e7e7e7;
    color: #017185;
    padding: 10px 15px;
}

.iterests-item {
    background-color: rgb(255, 255, 255);
    padding: 10px 15px;
    color: #222;
    border-top: 1px solid #e7e7e7;
}

.myna-interests .iterests-item {
    padding-top: 5px;
    padding-bottom: 2px;
}

.category-items .iterests-item {
    padding-top: 5px;
    padding-bottom: 2px;
}

div .iterests-item:nth-child(1) {
    border: none;
}

.iterests-item:after {
    clear: both;
}

.iterests-item .publication-logo img {
    width: 44px;
    height: 44px;
}

.iterests-item .media-body .heading {
    font-weight: bold;
}

.iterests-item .media-body .summary {
    font-size: 80%;
}

.iterests-item .action {
    /*float: right;*/
    /*margin-right: 20px;*/
}