/* RATING */
.rating-container {
    margin: auto;
    text-align: center;
    padding: 0px !important;
}

.rating-label {
    font-size: 110%;
}

.rating-label-result {
    font-size: 115%;
    font-weight: bold;
}

.rating-icon {
    font-size: 200%;
    display: inline-block;
    margin-right: 5px;
}

.rating-icon-selected {
    color: #147392;
}

.rating-icon-empty {
    color: #7a7b80;
}

.rating-icon.rating-badge {
    font-size: 150%;
    display: inline-block;
    margin-right: 5px;
}