/*
|------------------------------------------
| LOADING BOX
|------------------------------------------
*/
#loading-box {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    display: block;
    z-index: 800;
}

.loader {
    position: relative;
    width: 120px;
    height: 121px;
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
}

.loader .logo {
    position: absolute;
    width: 50px;
    margin-left: 35px;
    margin-top: 18px;
}

.loader .background {
    width: 85%;
    margin-top: 5px;
    margin-left: 8px;
}

.loader .circle {
    position: absolute;
    top: 65%;
    left: 35%;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-animation: writing 1.2s infinite;
    -webkit-animation: writing 1.2s infinite;
    animation: writing 1.2s infinite;
}

.loader .circle.two {
    left: 50%;
    -moz-animation: writing 1.2s infinite 0.1s;
    -webkit-animation: writing 1.2s infinite 0.1s;
    animation: writing 1.2s infinite 0.1s;
}

.loader .circle.three {
    left: 65%;
    -moz-animation: writing 1.2s infinite 0.2s;
    -webkit-animation: writing 1.2s infinite 0.2s;
    animation: writing 1.2s infinite 0.2s;
}

@-webkit-keyframes writing {
    0% {
        opacity: .6;
        -moz-transform: translate(-50%, -50%) scale(0.9);
        -ms-transform: translate(-50%, -50%) scale(0.9);
        -webkit-transform: translate(-50%, -50%) scale(0.9);
        transform: translate(-50%, -50%) scale(0.9);
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
        -moz-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        -moz-transform: translate(-50%, -150%) scale(1.3);
        -ms-transform: translate(-50%, -150%) scale(1.3);
        -webkit-transform: translate(-50%, -150%) scale(1.3);
        transform: translate(-50%, -150%) scale(1.3);
    }
}

@-moz-keyframes writing {
    0% {
        opacity: .6;
        -moz-transform: translate(-50%, -50%) scale(0.9);
        -ms-transform: translate(-50%, -50%) scale(0.9);
        -webkit-transform: translate(-50%, -50%) scale(0.9);
        transform: translate(-50%, -50%) scale(0.9);
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
        -moz-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        -moz-transform: translate(-50%, -150%) scale(1.3);
        -ms-transform: translate(-50%, -150%) scale(1.3);
        -webkit-transform: translate(-50%, -150%) scale(1.3);
        transform: translate(-50%, -150%) scale(1.3);
    }
}

@keyframes writing {
    0% {
        opacity: .6;
        -moz-transform: translate(-50%, -50%) scale(0.9);
        -ms-transform: translate(-50%, -50%) scale(0.9);
        -webkit-transform: translate(-50%, -50%) scale(0.9);
        transform: translate(-50%, -50%) scale(0.9);
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
        -moz-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        -moz-transform: translate(-50%, -150%) scale(1.3);
        -ms-transform: translate(-50%, -150%) scale(1.3);
        -webkit-transform: translate(-50%, -150%) scale(1.3);
        transform: translate(-50%, -150%) scale(1.3);
    }
}