/*
|------------------------------------------
| TEXT
|------------------------------------------
*/

.copy-title {
    font-size: 120%;
    font-family: 'Roboto-Medium', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

.text-lg {
    font-size: 22px;
}

.text-md {
    font-size: 14px;
}

.text-sm {
    font-size: 12px;
}

.text-primary {
    color: #147392 !important;
}

.text-secondary {
    color: #00809c;
}

.text-black {
    color: #111;
}

.text-gray-dark {
    color: #7a7b80
}

.text-gray {
    color: #888a8d;
}

.text-gray-light {
    color: #c6c8c9;
}

.text-white {
    color: #FFF;
}

.text-success {
    color: #00852f;
}

.bg-color-primary {
    background-color: #147392;
}

.bg-color-secondary {
    background-color: #00809c;
}

.bg-color-gray {
    background-color: #888a8d;
}

.bg-color-gray-light {
    background-color: #c6c8c9;
}

.font-80 {
    font-size: 80%;
}

.font-90 {
    font-size: 90%;
}

.font-110 {
    font-size: 110%;
}

.font-120 {
    font-size: 120%;
}

.font-130 {
    font-size: 130%;
}

.font-140 {
    font-size: 140%;
}

.font-150 {
    font-size: 150% !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.font-medium {
    font-family: 'Roboto-Medium', sans-serif;
}

.font-bold {
    font-family: 'Roboto-Bold', sans-serif;
}