.voucher {
    border-radius: 8px;
    border: 1px solid #888a8d;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    min-height: 100px;
}

.voucher-image {
    width: 30%;
}

.voucher-image img {
    width: 100%;
    height: 100%;
}

.voucher-body {
    width: 68%;
}

.voucher-body .readmore {
    float: right;
    margin-top: -5px;
}

.voucher-body .voucher-title {
    font-size: 130%;
    line-height: 120%;
    font-family: 'Roboto-Bold';
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    padding: 0 15px;
}

.voucher-body .voucher-subtitle {
    text-align: center;
    margin: 0px 10px 5px 0px;
    min-height: 10px;
}

.voucher .voucher-expire {
    color: #FFFFFF;
    background-color: #888a8d;
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 65%;
    padding: 5px 20px 2px;
}

/*
|------------------------------------------
| TOUCH AND WIN
|------------------------------------------
*/
#page-touch-win-play {
}

.touch-win-step-box {
    width: 300px;
    height: 120px;
    margin: auto;
    background-color: #e7e7e7;
}

.touch-win-hand-icon {
    text-align: center;
    font-size: 60px;
    padding-top: 0px;
    line-height: 20px
}

.touch-win-text {
    font-size: 15px;
    padding-top: 30px;
}

.prize-wrapper {
    display: block;
    height: 120px;
    position: relative;
    margin: auto auto 10px auto;
    -webkit-perspective: 2500px;
    -moz-perspective: 2500px;
    perspective: 2500px;
}

.prize-wrapper .prize-box {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.prize-wrapper .current {
    visibility: visible;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
    z-index: 1;
    opacity: 1;
}

.prize-wrapper .ontop {
    z-index: 999;
}

.prize-wrapper .prize-image {
    width: 100%;
    height: 100%;
}