#walkthrough {
    display: none;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}